<!DOCTYPE html>

<html>
<head>
	<title>title</title>
</head>
<body>
<div>
	<h2>Home page</h2>
</div>

<form method="get" action="/Account/Signout">
	<button type="submit">Logout</button>
</form>
</body>
</html>